<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Medigo Sanity Check" parallel="false" preserve-order="true">
    <test name="Sanity check login">
        <classes>
            <class name="Test.TestSwitching">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Ecom Order">
        <classes>
            <class name="Test.TestSwitching">
                <methods>
                    <include name="testEcomOrderSuccess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>